<h1>Edit Tasks</h1>

<form [formGroup]="goalFormGroup">
  <div formArrayName="goalForms">
    <div *ngFor="let group of goalForms.controls; let i = index" [formGroupName]="i"
      style="display: flex; justify-content: space-between;">
      <mat-form-field>
        <mat-label>Task Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="hours-field">
        <mat-label>Min Goal</mat-label>
        <input matInput formControlName="minHours" type="number" />
      </mat-form-field>
      <mat-form-field class="hours-field">
        <mat-label>Max Goal</mat-label>
        <input matInput formControlName="maxHours" type="number" />
      </mat-form-field>
      <button mat-icon-button (click)="deleteFormGroup(i)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <button mat-button (click)="addFormGroup()" [disabled]="goalFormGroup.invalid && goalForms.controls.length > 0">
    Add Task
  </button>
</form>