<h1>Weekly View</h1>

<mat-form-field>
    <mat-label>Week ending</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<table>
    <thead>
        <tr>
            <td> Task </td>
            <td> Hours Done </td>
            <td> Min Goal </td>
            <td> Max Goal </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of weeklySummary index as i;">
            <td> {{ task.name }} </td>
            <td
                [ngClass]="{'in-range': (task.hoursDone >= task.minHours) && (task.hoursDone <= (task.maxHours ?? inf))}">
                {{ task.hoursDone }}
            </td>
            <td> {{ task.minHours }} </td>
            <td> {{ task.maxHours }} </td>
        </tr>
    </tbody>
</table>